<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>

    <body>
    <div class="row justify-content-center my-3">
        <form class="form-inline md-form col-md-7 justify-content-center" th:action="@{/searchFilm}" th:object="${searchFilm}" method="GET">
            <input class="form-control" style="width: 520px;" type="text" name="q" placeholder="Search" aria-label="Search" />
            <div class="row mx-1">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <div id="radioBtn" class="btn-group" style="width: 167px;">
                                <a class="btn btn-primary btn-sm active" data-toggle="parameter" data-title="1">By title</a>
                                <a class="btn btn-primary btn-sm notActive" data-toggle="parameter" data-title="2">By producer</a>
                            </div>
                            <input type="hidden" name="parameter" id="parameter" />
                        </div>
                    </div>
                </div>
            </div>

            <input class="btn btn-primary" type="submit" value="Search" />
        </form>
    </div>
    <table class="col-md-7 mx-auto table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Producer</th>
            <th>Points</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each ="film : ${ALL_FILMS}">
            <td th:utext="${film.id}">...</td>
            <td th:utext="${film.title}">...</td>
            <td th:utext="${film.producer}">...</td>
            <td th:utext="${film.points}">...</td>
        </tr>
        </tbody>
    </table>
    </body>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</html>