<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search</title>
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" />
</head>
<body>
<table class="table table-striped" style="width: 700px;">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Producer</th>
        <th>Points</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each ="film : ${ALL_FILMS}">
        <td th:utext="${film.id}">...</td>
        <td th:utext="${film.title}">...</td>
        <td th:utext="${film.producer}">...</td>
        <td th:utext="${film.points}">...</td>
    </tr>
    </tbody>
</table>
<a th:href="@{/home}">Вернуться</a>
</body>
</html>